/* Reset default spacing */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Make root take full width/height */
#root {
  min-height: 100vh;
}

/* dark theme background */
body {
  background: #1f1f1f;
  color: #e5e5e5;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}